/*==============================================
[Red color stylesheet red.css]

Author:	SINDEVO.COM - Smart Internet Development
Template:	Mobix - Mobile Web APP Template
================================================*/

/*===============================================*/
/* MAIN COLOR */
/*===============================================*/	
a, blockquote span {
color: #ED1C24;
}
a.button_full, a.button_small, .call_button a{
background-color:#ED1C24; 
}
.button {
border: 1px solid #ED1C24;
color: #ED1C24;
}
.button.active {
background: #ED1C24;
}
#pages_maincontent h3{
color:#ED1C24;
}
.photo-categories a.active{
background-color:#ED1C24;
}
.post_date{
color:#ED1C24;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
background: #ED1C24;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit{ 
background-color:#ED1C24;
}
/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/	
.homepage{
background: url(../../images/colors/red/bg.jpg) no-repeat center center;
background-attachment:fixed;
-webkit-background-size: 100%; 
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; 
background-size: cover;
}
.navbarpages{
background:url(../../images/colors/red/header.jpg) no-repeat center center;
}
/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/	
.main-nav ul li{
background: #ED1C24;
border-bottom:1px #fff solid;
}
.main-nav ul li a{
color:#fff;
}
/*===============================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/	
.popup, .page_content_menu{
background: #fff;
background-image:url(../../images/colors/red/bg.jpg);
background-size:contain;
background-repeat:no-repeat;
background-position:center;
 }
.popup-login, .popup-signup, .popup-forgot{
background-color:#fff;
background-image:url(../../images/colors/red/bg.jpg);
background-size:contain;
background-repeat:no-repeat;
}
.toolbar:before {
background-color: #ED1C24;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/	
.panel {
background:#ED1C24;
}
.user-nav ul li, ul.popular_posts li{
border-bottom:1px #fff solid;
}
/* MENU OPENER ICON */
ul.toolbar_icons li.menuicon{
background-color:#CCCCCC;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a{
background-color:#ED1C24;
}